.table {
    th {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: #6c757d;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    td {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}